---
title: Blog
---

<p class="lead">Here are a bunch of blog posts I've written.</p>

<% blog.articles.each do |article| %>
  <article>
    <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    <h4><time><%= article.date.strftime('%B %e, %Y') %></time></h4>

    <p><%= article.summary %></p>

    <p><a href="<%= article.url %>">Read more</a></p>
  </article>
<% end %>

