---
title: Guitar Songs & Chords
---

<p>This is a collection of chords and songs for guitar meet ups to learn and play.</p>

<h2>Easy Songs</h2>

<p>All of these songs use <a href="https://www.youtube.com/watch?v=jJxRjWtwmEE">standard tuning</a> (E A D G B E) and fairly simple chords. A playlists of these songs are available on <a href="https://www.youtube.com/playlist?list=PL0qpO5Cy9JamE_h3OEeNWm01ZfYyZFoyq">YouTube</a> and <a href="https://open.spotify.com/user/spilth/playlist/1NaTfvTr9vGRuLPFZ5vPPz">Spotify</a>.</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Play</th>
      <th>Sing</th>
      <th>Listen</th>
      <th>Capo</th>
    </tr>
  </thead>
  <% data.guitar_songs.sort_by(&:title).each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
      <td><%= link_to "Chords", song.chords %></td>
      <td><%= link_to "Lyrics", song.lyrics %></td>
      <td>
        <%= link_to '<i class="fa fa-youtube-play" aria-hidden="true"></i>', song.youtube %>
        <%= link_to '<i class="fa fa-spotify" aria-hidden="true"></i>', song.spotify %>
      </td>
      <td><%= song.capo %></td>
    </tr>
  <% end %>
</table>

<p><em>Note: You'll need <a href="https://www.amazon.com/Guitar-Capos/b?ie=UTF8&node=486413011">a capo</a> to play along with some of the YouTube &amp; Spotify links above but during the meetup we'll play without a capo since most people don't have one yet.</em></p>

<h2>Easy Chords</h2>

<p>This are, in my opinion, the easiest guitar chords to learn and many songs can be played using them.</p>

<table>
  <tbody>
    <tr>
      <td><img src="http://chordgenerator.net/C.png?p=x32010&f=-32-1-&s=3"></td>
      <td><img src="http://chordgenerator.net/D.png?p=xx0232&f=---132&s=3"></td>
      <td><img src="http://chordgenerator.net/E.png?p=022100&f=-231--&s=3"></td>
      <td><img src="http://chordgenerator.net/G.png?p=320033&f=21--33&s=3"></td>
      <td><img src="http://chordgenerator.net/A.png?p=x02220&f=--123-&s=3"></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><img src="http://chordgenerator.net/Dm.png?p=xx0231&f=---231&s=3"></td>
      <td><img src="http://chordgenerator.net/Em.png?p=022000&f=-12---&s=3"></td>
      <td></td>
      <td><img src="http://chordgenerator.net/Am.png?p=x02210&f=--231-&s=3"></td>
    </tr>
    <tr>
      <td><img src="http://chordgenerator.net/C7.png?p=x32310&f=-3241-&s=3"></td>
      <td><img src="http://chordgenerator.net/D7.png?p=xx0212&f=---213&s=3"></td>
      <td><img src="http://chordgenerator.net/E7.png?p=020100&f=-2-1--&s=3"></td>
      <td><img src="http://chordgenerator.net/G7.png?p=320001&f=32---1&s=3"></td>
      <td><img src="http://chordgenerator.net/A7.png?p=x02020&f=--1-2-&s=3"></td>
    </tr>
    <tr>
      <td></td>
      <td><img src="http://chordgenerator.net/Dm7.png?p=xx0201&f=---2-1&s=3"></td>
      <td><img src="http://chordgenerator.net/Em7.png?p=022030&f=-23-4-&s=3"></td>
      <td></td>
      <td><img src="http://chordgenerator.net/Am7.png?p=x02010&f=--2-1-&s=3"></td>
    </tr>
  </tbody>
</table>

<p>Chord images provided by <a href="http://chordgenerator.net/">Chord Image Generator</a> by <a href="http://einaregilsson.com">Einar egilsson</a>.</p>
