---
title: Welcome!
---

<p>My name is Brian Kelly. I am a software engineer by day, a songwriter by night and a geek most of the rest of the time. I live in Brooklyn, NY.</p>

<h2>Creations</h2>

<dl>
  <% data.projects.each do |project| %>
    <dt>
      <i class="fa fa-fw <%= project.icon %>" aria-hidden="true"></i>
      <a href="<%= project.url %>"><%= project.title %></a>
    </dt>
    <dd><%= project.description %></dd>
  <% end %>
</dl>

<h2>Profiles</h2>

<ul class="profiles">
  <% data.profiles.each do |profile| %>
    <li>
      <i class="fa fa-fw <%= profile.icon %>" aria-hidden="true"></i>
      <a href="<%= profile.url %>"><%= profile.title %></a>
    </li>
  <% end %>
</ul>

