---
title: Projects
---

<p class="lead">Here are a bunch of things I've made or helped make.</p>

<div class="btn-group mb-4" role="group" aria-label="Basic example">
  <% data.projects.collect { |project| project.icon }.uniq.sort.each do |icon| %>
    <button type="button" class="btn btn-secondary filter" id="<%= icon %>"><i class="fa fa-2x fa-fw <%= icon %>" aria-hidden="true"></i></button>
  <% end %>
  <button type="button" class="btn btn-secondary" id="all"><i class="fa fa-2x fa-fw fa-undo" aria-hidden="true"></i></button>
</div>

<% data.projects.sort_by { |project| project.title.downcase }.each do |project| %>
  <div class="project icon-<%= project.icon %>">
    <h2>
      <i class="fa fa-fw <%= project.icon %>" aria-hidden="true"></i>
      <a href="<%= project.url %>"><%= project.title %></a>
    </h2>

    <p><%= project.description %></p>
  </div>
<% end %>

<script>
  $(function() {
    $('#all').click(function() {
      $('.project').show();
    });

    $('.filter').click(function() {
      $('.project').hide();
      $('.icon-' + $(this).prop('id')).show();
    });
  });
</script>


