---
title: Projects
layout: home
---

<p class="lead">Here are a bunch of things I've made or helped make.</p>

<% data.projects.reject{ |p| p.image }.each_slice(3) do |projects| %>
  <div class="card-deck mb-2">
    <% projects.each do |project| %>
      <div class="card">
        <img class="card-img-top" src="<%= project.image %>" alt="<%= project.title %>">
        <div class="card-body">
          <h5 class="card-title">
            <a href="<%= project.url %>"><%= project.title %></a>
          </h5>
          <p class="card-text"><%= project.description %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
